<p>Hi {{name}},</p>
<p>We received a request to reset your password. Click the link below to reset it:</p>
<p><a href="{{resetLink}}">Reset Password</a></p>
<p>If you didn't request this, you can ignore this email.</p>